/* body {

    background-image: url("https://w.wallhaven.cc/full/45/wallhaven-4582l8.jpg"), url("https://w.wallhaven.cc/full/95/wallhaven-95e3rk.jpg"), url("https://w.wallhaven.cc/full/42/wallhaven-423gy9.jpg");
} */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
* {
    box-sizing: border-box;
}

.bg-text {
    font-weight: bold;
    font-size: 80px;
    position: fixed; 
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
    opacity: 0.3;
  }
.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;

}
.side-nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: 'Lato', sans-serif;
}
.side-nav a:hover {
    color: #f1f1f1;
}
h2 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color: #818181;
    display: block;
    font-family: 'Lato', sans-serif;
}
h2:hover {
    
}
hr {
    border-top: 2px solid red;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.btn {
    background-color: red;
    color: white;
    margin: 30px 65px;
    display: block;

}
.main {
    margin-left: 160px;
    padding: 0px 10px;
    margin-top: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
