body {
    background-color: #DCFFFF;
}
h1 {
    text-decoration: blue double underline overline;
    text-align: center;
    background-color: #BEFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
p {
    text-align: center;
}
h2 {
    text-align: center;
}
ul {
    text-align: center;
    list-style-type: none;
    /* overflow: hidden; */
}
h3 {
    text-align: center;
}